In [3]:
import pandas as pd
import re

In [4]:
df_reviews = pd.read_csv("C:\\Users\\karom\\OneDrive\\Pulpit\\NOVA_lisboa\\Text_Mining\\TM_Project\\data_hyderabad\\10k_reviews.csv")
df_restaurants = pd.read_csv("C:\\Users\\karom\\OneDrive\\Pulpit\\NOVA_lisboa\\Text_Mining\\TM_Project\\data_hyderabad\\105_restaurants.csv")

In [5]:
df_reviews[["Reviews", "Followers"]] = df_reviews["Metadata"].str.split(",", expand=True)

df_reviews["Reviews"] = df_reviews["Reviews"].str.extract('(\d+)').fillna(0)
df_reviews["Followers"] = df_reviews["Followers"].str.extract('(\d+)').fillna(0)
df_reviews = df_reviews.drop("Metadata", axis=1)

df_reviews.sample(5)

,Restaurant,Reviewer,Review,Rating,Time,Pictures,Reviews,Followers
6392,Dine O China,Kartik Balachandran,Food very tasty..mongolian chicken quantity ve...,5,6/20/2018 21:18,0,2,0
2765,"3B's - Buddies, Bar & Barbecue",Sunil Pathak,Awesome place to enjoy with friends.... Especi...,5,5/4/2019 23:07,0,1,3
5020,Gal Punjab Di,Mayank Murali,I guess one of the decent Punjabi restaurants ...,4,3/30/2019 22:52,0,15,5
3761,Kritunga Restaurant,Harish,"food is super,but so spicy.__|__",4,7/30/2018 14:15,0,1,0
6749,Yum Yum Tree - The Arabian Food Court,Visveswara Balu,The outlet looks good. The service is excellen...,2,10/11/2018 14:05,0,1,12

In [6]:
def splitting_words_process(word):
    # only upper case letters 
    if word.isupper(): 
        return word
    
    # more than one upper case letter inside
    elif re.search(r'[A-Z].*[A-Z]', word): 
        split_word = re.findall(r'[A-Z][a-z]*', word)
        return ' '.join(split_word)
    
    # <2 upper case letters
    else:
        return word
    
# e.g.
words = ["EATCHICKEN", "EatChicken", "Food", "CoolMan"]
processed_words = [splitting_words_process(word) for word in words]

print(processed_words)

['EATCHICKEN', 'Eat Chicken', 'Food', 'Cool Man']

In [7]:
df_reviews

,Restaurant,Reviewer,Review,Rating,Time,Pictures,Reviews,Followers
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,5/25/2019 15:54,0,1,2
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,5/25/2019 14:20,0,3,2
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,5/24/2019 22:54,0,2,3
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,5/24/2019 22:11,0,1,1
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,5/24/2019 21:37,0,3,2
...,...,...,...,...,...,...,...,...
9995,Chinese Pavilion,Abhishek Mahajan,Madhumathi Mahajan Well to start with nice cou...,3,6/5/2016 0:08,0,53,54
9996,Chinese Pavilion,Sharad Agrawal,This place has never disappointed us.. The foo...,4.5,6/4/2016 22:01,0,2,53
9997,Chinese Pavilion,Ramandeep,"Bad rating is mainly because of ""Chicken Bone ...",1.5,6/3/2016 10:37,3,65,423
9998,Chinese Pavilion,Nayana Shanbhag,I personally love and prefer Chinese Food. Had...,4,5/31/2016 17:22,0,13,144
9999,Chinese Pavilion,Bhargava Krishna,Checked in here to try some delicious chinese ...,3.5,5/31/2016 16:41,6,472,1302

In [8]:
df_reviews["Review"][2361]

'okay'

In [34]:
new_review = {
    'Restaurant': 'Test Restaurant',
    'Reviewer': 'Test Reviewer',
    'Review': 'ThisIsATestRRRRRReview',  
    'Rating': 3,
    'Time': '10/10/2024 12:00',  
}

df_reviews = df_reviews.append(new_review, ignore_index=True)

print(df_reviews.tail(1)) 

# # Usuń ostatnie 5 wierszy
# df_reviews = df_reviews.iloc[:-5]

            Restaurant       Reviewer                  Review Rating  \
10003  Test Restaurant  Test Reviewer  ThisIsATestRRRRRReview      3

                   Time  Pictures Reviews Followers Processed_Review
10003  10/10/2024 12:00       NaN     NaN       NaN              NaN

C:\Users\karom\AppData\Local\Temp\ipykernel_12912\25707106.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_reviews = df_reviews.append(new_review, ignore_index=True)

In [9]:
for i, review in enumerate(df_reviews["Review"]):
    if pd.notna(review):  # check if it is not Nan
        words = review.split()
        processed_words = [splitting_words_process(word) for word in words]
        df_reviews.at[i, 'Processed_Review'] = " ".join(processed_words)
        
    else:
        df_reviews.at[i, 'Processed_Review'] = review 
    
df_reviews[["Review",'Processed_Review']].tail()

,Review,Processed_Review
9995,Madhumathi Mahajan Well to start with nice cou...,Madhumathi Mahajan Well to start with nice cou...
9996,This place has never disappointed us.. The foo...,This place has never disappointed us.. The foo...
9997,"Bad rating is mainly because of ""Chicken Bone ...","Bad rating is mainly because of ""Chicken Bone ..."
9998,I personally love and prefer Chinese Food. Had...,I personally love and prefer Chinese Food. Had...
9999,Checked in here to try some delicious chinese ...,Checked in here to try some delicious chinese ...

In [11]:
df_reviews[["Review",'Processed_Review', 'Rating']]

,Review,Processed_Review,Rating
9995,Madhumathi Mahajan Well to start with nice cou...,Madhumathi Mahajan Well to start with nice cou...,3
9996,This place has never disappointed us.. The foo...,This place has never disappointed us.. The foo...,4.5
9997,"Bad rating is mainly because of ""Chicken Bone ...","Bad rating is mainly because of ""Chicken Bone ...",1.5
9998,I personally love and prefer Chinese Food. Had...,I personally love and prefer Chinese Food. Had...,4
9999,Checked in here to try some delicious chinese ...,Checked in here to try some delicious chinese ...,3.5

In [12]:
df_reviews[["Review", "Processed_Review", "Rating"]].to_csv("reviews_subset.csv", index=False)

In [13]:
df = pd.read_csv("reviews_subset.csv")

In [14]:
df

,Review,Processed_Review,Rating
0,"The ambience was good, food was quite good . h...","The ambience was good, food was quite good . h...",5
1,Ambience is too good for a pleasant evening. S...,Ambience is too good for a pleasant evening. S...,5
2,A must try.. great food great ambience. Thnx f...,A must try.. great food great ambience. Thnx f...,5
3,Soumen das and Arun was a great guy. Only beca...,Soumen das and Arun was a great guy. Only beca...,5
4,Food is good.we ordered Kodi drumsticks and ba...,Food is good.we ordered Kodi drumsticks and ba...,5
...,...,...,...
9995,Madhumathi Mahajan Well to start with nice cou...,Madhumathi Mahajan Well to start with nice cou...,3
9996,This place has never disappointed us.. The foo...,This place has never disappointed us.. The foo...,4.5
9997,"Bad rating is mainly because of ""Chicken Bone ...","Bad rating is mainly because of ""Chicken Bone ...",1.5
9998,I personally love and prefer Chinese Food. Had...,I personally love and prefer Chinese Food. Had...,4
9999,Checked in here to try some delicious chinese ...,Checked in here to try some delicious chinese ...,3.5